body {
    margin-top:  20px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

span {
    color: #fc630f;
}

#errmsg {
    color: crimson;
}

#footer {
    padding-left: 25%;
    color: brown;
    position:fixed;
    bottom:0;
}